mixin lista(items)
  ul
    each item in items 
      li= item

 

doctype html
html
  head
    title= title
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/navbar.pug
    .container.mt-5
      block contenido
    footer
      block footer
        p valor por defecto
